.chatContent {
    display: flexbox;
    grid-column: 1 / 3;

    height: fit-content;
    max-height: 60vh;
    min-height: 200px;

    word-wrap: break-word;
    flex-wrap: wrap;

    overflow-y: scroll;
    overflow-x: hidden;

    border: none !important;

    .chatMessage {
        position: relative;

        top: 0px;

        opacity: var(--opacityTextBase);
        display: grid;
        grid-template-columns: 50px auto;

        border-radius: 13px;
        padding: 2px;
        padding-bottom: 4px;


        overflow-x: hidden;
        overflow-y: scroll;

        width: 100%;

        transition: all ease-in-out 0.3s;
    
        .innerContent {
            display: grid;

            min-height: 25px;

            width: 95%;

            grid-template-columns: 100%;
            // grid-template-rows: 50% 50%;

            .content {
                display: block;
                margin: 0;
                left: 20px;
                width: 85%;

                text-wrap: wrap;
                position: relative;

            }
            .name {
                margin-left: 25px;
                height: 10px;

                font-size: small;
            }
        }

        div {
            border: none !important;
        }

        p {
            margin-top: 0;
        }

        &:hover {
            opacity: var(--opacityTextHover);

            top: -5px;

            box-shadow: var(--TextBaseColor) 0px 0px 7px;
        }
    }
}

.userTools {
    display: grid;

    width: 80vw;
    margin: auto;

    column-gap: 15px;

    grid-template-columns: 2fr auto;

    .sendButton {
        margin: auto;

        background-color: transparent;
        border: none;
        color: var(--TextBaseColor);
    }

    input {
        width: 100% !important;
    }

    &* {
        grid-column: auto !important;
    }
}

.profilePicture {
    position: relative;
    border: 1px solid var(--TextBaseColor) !important;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 20px;
    
    width: 40px;
    min-width: 40px;
    height: 40px;

    margin-left: 20px;
}

.profile {
    width: var(--profileWidth);

    margin: auto auto;
    padding: 1vh;
    margin-top: 5vh;

    border-radius: 13px;
    border: solid 1px var(--TextBaseColor);

    background-color: var(--PageBackgroundColor);

    .content {
        display: grid;

        grid-template-columns: 50% 50%;

        .about {
            z-index: 1;
            border: solid 1px var(--TextBaseColor);
            border-radius: 13px;

            background-color: var(--PageBackgroundColor);
            
            margin: 1vh;
            padding: 1vh;

            .username {
                margin: 0;
            }


            .pronouns {
                font-size: small;
                margin: 0;
                margin-left: 10px;
            }

            .web {
                font-size: small;
            }

            .bio {

            }
        }

        .pfp {
            min-width: 15vh;
            height: 15vh;


            z-index: 1;

            margin: auto auto;

            border-radius: 50% !important;

            border: solid 1px var(--TextBaseColor);
            border-bottom: solid 3px var(--TextBaseColor);

            background-color: white;

        }

    }
}

.banner {
    display: block;
    position: relative;


    margin:  -1vh;
    margin-bottom: 2.5vh;
    z-index: 0;

    border: none;
    border-top: solid 1px var(--TextBaseColor);
    border-bottom: solid 1px var(--TextBaseColor);

    height: 200px;
    width: calc(100% + 2vh);
    max-width: none !important;

    background-image: url('https://api.roxcelic.love/api/user/banner');
    background-position: center;
    background-size: cover;
}

input[type="file"] {
    display: none;
}

#profilePictureUploadDisplay, #profileBannerUploadDisplay {
    display: block;

    width: 100px;
    height: 100px;

    margin: auto;

    background-image: url('https://api.roxcelic.love/api/user/pfp');
    background-position: center;
    background-size: cover;

    border-radius: 3px;
    border: solid 1px var(--TextBaseColor);
    border-bottom: solid 3px var(--TextBaseColor);
}

#profileBannerUploadDisplay {
    width: 300px;
    background-image: url('https://api.roxcelic.love/api/user/banner');
}

.saveButton:enabled {
    display: block;

    width: 100%;
    margin-top: 5px;

    opacity: 0.8;


    color: var(--TextBaseColor);
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: var(--TextHeadingColor) 0px 0px 4px;
    text-align: center;

    &:hover {
        opacity: 9;
        text-shadow: var(--TextHeadingColor) 0px 0px 6px;
    }

    transition: all ease-in-out 0.3s;
}

.saveButton:disabled {
    display: block;

    width: 100%;
    margin-top: 5px;

    opacity: 0.5;

    transition: all ease-in-out 0.3s;
}

.info {
    display: block;

    width: 100% !important; 
}

.chatImage, .chatEmbed {
    border-radius: 13px;
    margin: 5px;
}

.chatEmbed {
    width: 100%;
}

.chatImageWrapper {
    width: 90%;

    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
    flex-wrap: wrap;

    grid-column: 1 / 3;
}

#chatFunctionSelect {
    width: 100%;
    grid-column: 1 / 3;

    background-color: var(--PageBackgroundColor);
    
    
    color: var(--TextBaseColor);
    color: var(--TextBaseColor);
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: var(--TextHeadingColor) 0px 0px 4px;

    border: 1px solid var(--TextBaseColor);

    border-radius: 0px 0px 5px 5px;
}